/* Base Application Styles */

.header{
  max-width: 1000px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.card{
  background-color: gray;
  cursor: pointer;
  width: 290px;
  height: 290px;
}
.text-center{
  text-align: center;
}

.circle {
  cursor: pointer;
  color: white;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.circle:hover{
  color:yellow;
}

.icon-plus:before {
  /*content: "\E005";*/
  content: "\FF0B";
}

.navigation li{
  display: inline;
}

.teamModal{
  width: 500px;
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
