/* Base Application Styles */


.navbar{
  max-width: 1000px;
  max-height: 100px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #f8f8f8;
  border: 1px solid;
}

.board{
  position: relative;
  width: 400px;
  height: 600px;
  background-image: url('/images/board3.png');
  background-size: 400px 600px;
  display: inline-block;;
}

.lineup{

  margin-left: 100px;
  width:400px;
  height: 600px;
  border: 1px solid;
  display: inline-block;

}
.container{
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}
ul{
  display: block;
}

li{
  display: inline;
}
.navbar-header{
  float: left;
  padding: 15px;
}
.navbar-center{
  padding: 15px;
}

.navbar-user{
  float: right;
  padding: 15px;
}


.subHead{
  padding-bottom:5px;
  margin-bottom:15px;
  border-bottom:1px solid #e5e5e5;
}
.subHead-heading{
  font-weight: normal;
}
.subHead-description{
  margin-bottom: 0;
  font-size: 14px;
  color: #767676;
}

.newcard{
  background-color: gray;
  cursor: pointer;
  width: 290px;
  height: 290px;
}

.row{
  margin-right: 24px;
}

.clickable{
  cursor:pointer;
}
.card{
  background-color: white;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 3px;
  border: 1px solid #dbd8d8;
  border-width: 1px 1px 2px 1px;
  box-shadow: 0 1px 0 #e7e7e7;
}
.text-center{
  text-align: center;
}

.circle {
  cursor: pointer;
  color: white;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.circle:hover{
  color:yellow;
}

.icon-plus:before {
  /*content: "\E005";*/
  content: "\FF0B";
}

.navigation li{
  display: inline;
}

.teamModal{
  width: 500px;
}

.loginModal{
  width: 300px;
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
